samp {
  width: 0.5px;
  height: 400px;
  background-color: #6070863d;
}

.wrapper {
  width: 80%;
  margin: 0px auto;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 180px;
}

.container {
  display: flex;
  width: 45%;
  height: 400px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.container > img {
  width: 112px;
  height: 103px;
  margin-bottom: 40px;
  /* image-rendering: pixelated; */
}

.container > h1 {
  margin: 0;
  font-size: 27px;
  font-weight: 500;
  margin: 10px 0;
}

.container > p {
  height: 66px;
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #607086;
  line-height: 1.8;
}

@media only screen and (min-width: 200px) and (max-width: 901px) and (-webkit-min-device-pixel-ratio: 1) {
  .wrapper {
    flex-direction: column;
    margin-top: 50px;
  }

  .container {
    height: 400px;
    margin-top: 30px;
    align-items: center;
    width: 80%;
  }

  samp {
    width: 80%;
    height: 0.3px;
    background-color: #6070863d;
  }
}
