a {
  text-decoration: none;
}
.container {
  width: 230px;
  height: 350px;
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: rgb(5, 29, 54);
  border-bottom: 3px solid #007dea;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  display: flex;
  margin-bottom: 50px;
}

.container:hover {
  background-color: #007dea;
  transform: scale(1.1);
}

.container > img {
  width: 230px;
}

.container > h2 {
  color: #fff;
  margin: 0;
  font: 25px;
  font-weight: 400;
}
